<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GITHUB PROFILE EXPLORER</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/explorer.css')}}">
</head>

<body>
    <div style="text-align: left; padding: 10px 30px;">
        <a href="/" class="gitFetchBtn" style="text-decoration: none; display: inline-block; background-color: #333;">←
            Back to Kanban Workspace</a>
    </div>

    <h1>GitHub Cloud Profile Explorer</h1>

    <div style="margin-bottom: 30px;">
        <input type="text" id="githubLinkField"
            placeholder="Paste any GitHub profile link (e.g., https://github.com)..."
            style="padding: 10px; width: 450px; border-radius: 6px; border: 1px solid #ccc; font-size: 14px;">
        <button onclick="fetchExternalGitHubProfile()" class="gitFetchBtn">Load Repositories 🚀</button>
    </div>

    <div style="display: flex; justify-content: center; gap: 20px; padding: 20px;">
        <div id="Onhold-lane" class="kanban-column"></div>
        <div id="Ongoing-lane" class="kanban-column"></div>
        <div id="Completed-lane" class="kanban-column"></div>
    </div>

    <script src="{{ url_for('static', filename='js/explorer.js') }}"></script>
</body>

</html>